$size: var(--size);
$thickness: var(--thickness);

.loadingSpinner {
  border: $thickness solid #393e46;
  border-radius: 50%;
  border-top: $thickness solid #1f75fe;
  width: $size;
  height: $size;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
