.bookCardWrapper {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;

  .imageWrapper {
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    .image {
      width: 100%;
    }
  }

  .quantityLeft {
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1f75fe;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    p {
      font-size: 1.3em;
      font-weight: bolder;
    }
  }

  .buttonsWrapper {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;

    button:first-child {
      margin-bottom: 0.3rem;
    }
  }

  .cardTextWrapper {
    margin: 1rem 0 0 0.3rem;
  }
}
