$sidebar-min-width: 18rem;
$link-icon-size: 20px;
$close-icon-size: 20px;

$sidebar-colors: (
  link-bg-color: #f2f2f2,
  active: #1f75fe,
  non-active: #696464,
);

.sidebarWrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  z-index: 20;

  @media only screen and (min-width: 1024px) {
    position: sticky;
  }

  @media only screen and (min-width: 375px) {
    max-width: $sidebar-min-width;
  }

  .sidebar {
    .closeMenuButtonWrapper {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-end;

      .closeIcon {
        height: $close-icon-size;
        width: $close-icon-size;
      }

      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }

    .linksWrapper {
      .link {
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          height: 100%;
          width: 3px;
          background-color: transparent;
        }

        .iconWrapper {
          svg {
            height: $link-icon-size;
            width: $link-icon-size;
            stroke: map-get($map: $sidebar-colors, $key: non-active);
          }
          margin-right: 0.7rem;
        }

        .linkLabel {
          font-size: 1em;
          color: map-get($map: $sidebar-colors, $key: non-active);
        }

        &:hover,
        &.activeLink {
          //background-color: map-get($map: $sidebar-colors, $key: link-bg-color);
          background-color: #393e46;

          &:before {
            background-color: #1f75fe;
          }

          .iconWrapper,
          svg {
            //stroke: map-get($map: $sidebar-colors, $key: active);
            stroke: white;
          }

          .linkLabel {
            //color: map-get($map: $sidebar-colors, $key: active);
            color: white;
          }
        }
      }
    }
  }
}
