$sidebar-min-width: 18rem;
$link-icon-size: 20px;

$sidebar-colors: (
  link-bg-color: #f2f2f2,
  active: #1f75fe,
  non-active: #696464,
);

.sidebarWrapper {
  min-width: $sidebar-min-width;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar {
    .linksWrapper {
      .link {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 1rem 0.5rem;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          height: 100%;
          width: 2px;
          background-color: transparent;
        }

        .iconWrapper {
          svg {
            height: $link-icon-size;
            width: $link-icon-size;
            stroke: map-get($map: $sidebar-colors, $key: non-active);
          }
          margin-right: 0.7rem;
        }

        .linkLabel {
          text-decoration: none;
          font-size: 1em;
          color: map-get($map: $sidebar-colors, $key: non-active);
        }

        &:hover {
          background-color: map-get($map: $sidebar-colors, $key: link-bg-color);

          &:before {
            background-color: #1f75fe;
          }

          .iconWrapper,
          svg {
            stroke: map-get($map: $sidebar-colors, $key: active);
          }

          .linkLabel {
            color: map-get($map: $sidebar-colors, $key: active);
          }
        }
      }
    }
  }
}
